# Configurações do Django
DEBUG=1
SECRET_KEY=django-insecure-q66r!68)k4e*-h!u9dqw&f7$bei=f&w%bkn7z@1x(@z5ak2z4t

# Configurações do banco de dados
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=nome_do_banco
POSTGRES_USER=usuario_do_banco
POSTGRES_PASSWORD=senha_do_banco
POSTGRES_HOST=psql
POSTGRES_PORT=5432
c
# Configurações do e-mail
# Configurações do e-mail
EMAIL_HOST_USER=lozeborges19@gmail.com
EMAIL_HOST_PASSWORD=zfqoicwlzmqjjwas

# Configurações de autenticação social
client_id=1014838256092-4blf4l900i78s36lq7f3qv4o1ru3hmke.apps.googleusercontent.com
secret=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
