<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% include 'partials/messages_toast.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EsporteFY</title>
    <link rel="shortcut icon" href="{% static 'images/Goal_icon-icons.com_62267.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/navbar_base.css' %}">



    {% block extra_head %}{% endblock extra_head %}
</head>
<body>

    <nav class="navbar">
    <div class="navbar-logo" onclick="window.location.href = '/accounts/profile/'">EsporteFY</div>
    <button class="menu-toggle" id="menuToggle">☰</button>
    
    <ul class="navbar-menu" id="navbarMenu">
        <li><a href="{% url 'mfa_index' %}">Segurança</a></li>
        <li><a href="{% url 'relatorio' %}">Relatório</a></li>
    </ul>

    {% if request.user.is_authenticated %}
    <div style="display: flex; align-items: center; gap: 15px; margin-left: auto;">
        <a href="{% url 'account_logout' %}" class="navbar-menu logout" style="color: #fff; font-size: 16px; text-decoration: none;">{% trans "Sign Out" %}</a>
        
        <a href="{% url 'perfilUsuario' %}" class="navbar-profile" style="width:44px; height:44px; border:2px solid #e53935; border-radius:50%; overflow:hidden; display:flex; align-items:center; justify-content:center; text-decoration:none;">
            <img src="{% if request.user.profile.img %}{{ request.user.profile.img.url }}{% else %}{% static 'images/avatar_xbox.jpeg' %}{% endif %}"
                 alt="{{ request.user.username }}"
                 style="width:40px; height:40px; object-fit:cover; display:block;" />
        </a>
    </div>
    {% endif %}
</nav>

<div class="loading-bar">

</div>


    {% block content %}
    {% endblock content %}

    {% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.getElementById('menuToggle');
            const navbarMenu = document.getElementById('navbarMenu');

            menuToggle.addEventListener('click', function() {
                navbarMenu.classList.toggle('active');
                if (navbarMenu.classList.contains('active')) {
                    menuToggle.innerHTML = '✕';
                } else {
                    menuToggle.innerHTML = '☰';
                }
            });

            // Fecha o menu ao clicar em um link (mobile)
            document.querySelectorAll('.navbar-menu a').forEach(link => {
                link.addEventListener('click', () => {
                    if (window.innerWidth <= 768) {
                        navbarMenu.classList.remove('active');
                        menuToggle.innerHTML = '☰';
                    }
                });
            });
        });

        
    </script>
    {% endblock %}
    {% block extra_body %}{% endblock extra_body %}

</body>
</html>