{% extends "pages/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock extra_head %}

{% block content %}


<center><div class="card-container">
    <div class="card">
        <h1>Feedbacks do campo {{dadosCampo.nome}}</h1>
        <img src="{{dadosCampo.foto.url}}" alt="">
        
        <h4 class="card-title"> E-mail para contato: {{dadosCampo.email}} </h4>
        <h4 class="card-title"> Endereço: {{dadosCampo.endereco}} </h4>
        <h4 class="card-title"> Telefone: {{dadosCampo.telefone}} </h4>
    
        
    </div>

</div>
<hr>

<form id="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">

</form>

<h1>parte dos feeds</h1>

{% if feedback  %}
    {% for f in feedback %}
    <div class="feed-container">
        <p>{{ f.nomeUsuario }}</p>
        <p>Comentário: {{ f.comentario }}</p>
        <p>Avaliação: {{ f.get_avaliacoes.display }} Estrelas</p>
    </div>
    {% endfor %}
{% else %}
    <p>sem feedbacks</p>

{% endif %}


{% endblock content %}