{% extends "pages/base.html" %}
{% load static %}
{% load i18n %}
    
{% block extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/listacampos.css' %}">
{% endblock extra_head %}

{% block content %}

    <div class="content">
        
        <div class="map-container">
            <div id="map"></div>

            <div class="card-container">
                {% for dado in dadosCampo %}
                <div class="card">

                    <img src="{{dado.foto.url}}" alt="">
                    {% comment %} <h3 class="card-title"> Nome: {{dado.nomeCampo}} </h3> {% endcomment %}
                    <h4 class="card-title"> E-mail para contato: {{dado.email}} </h4>
                    <h4 class="card-title"> Endereço: {{dado.endereco}} </h4>
                    <h4 class="card-title"> Telefone: {{dado.telefone}} </h4>
                    
                    <p id="cont">{{dado.id}} </p>
                    <button onclick="window.location.href='{% url "feedback" id=dado.id %}'">Ver Feedbacks</button>
                </div>
                {% endfor %}

            </div>
            
           
           
        </div>      

            
    </div>
    <!-- Incluindo o JavaScript do Leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Inicializando o mapa e definindo suas coordenadas iniciais e nível de zoom
        var map = L.map('map').setView([-22.9187, -42.8224], 15);

        // Adicionando o tile layer do OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Função para atualizar o mapa com novas coordenadas
        function updateMap(coords) {
            var [lat, lng] = coords.split(',').map(Number);
            map.setView([lat, lng], 15);
        }

        // Adicionando um marcador em Maricá
        var marker = L.marker([-22.9187, -42.8224]).addTo(map);
        marker.bindPopup('<b>Maricá</b><br>Cidade do Rio de Janeiro').openPopup();

        map.on('click', function(e) {
        var latlng = e.latlng;

    // Exibindo um popup com as coordenadas
    var popupContent = `Latitude: ${latlng.lat.toFixed(6)}<br>Longitude: ${latlng.lng.toFixed(6)}`;
    L.popup()
        .setLatLng(latlng)
        .setContent(popupContent)
        .openOn(map);
});

var data = {{ coordenadas|safe }}
console.log(data);
// Exibindo os marcadores salvos no banco de dados
    data.forEach(function(coordenada) {
        var img = L.icon({
            iconUrl: '{% static 'images/campo-de-futebol.png' %}',
        });
        console.log("coordenada")
        L.marker([coordenada.latitude, coordenada.longitude], { icon: img }).addTo(map)
        .bindPopup("<a href= http://localhost:8000/accounts/profile/listas> Ver mais </a>")
    })
    


 {% comment %}    ############################################################################################# {% endcomment %}
/* Estilos para o Modal */

function openModal() {

    document.getElementById('modal').style.display = "block";
}

function closeModal() {
    document.getElementById('modal').style.display = "none";
}
    </script>
    {% endblock content %}
