{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% load static %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="signup-container">
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}

    {% setvar link %}
        <a href="{{ login_url }}">
    {% endsetvar %}
    {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}

    {% if not SOCIALACCOUNT_ONLY %}
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {{ redirect_field }}
            <button type="submit">{% trans "Sign Up" %}</button>
        </form>
    {% endif %}

    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
</div>
{% endblock content %}
